
body{
    font-family: 'Karla', sans-serif;
}
#pageBackground{
    background-image: url("../images/backgroundGray.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: rgb(205, 205, 205);
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
}
.content{
    background-color: rgba(255, 255, 255,.8);
    height: fit-content;
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
}
#topTitle{
    font-size: 2em;
}
.dropdownItems{
    background-color: white ;
    
}
.dropdownItems:hover{
    background-color: rgb(205, 205, 205);
}

.head-text{
    margin-top: 10%;
    padding-top: 5%;
    font-size: 10em;
}
#intro-text{
    font-size: 2em;
    line-height: 1.5;
    padding-bottom: 5%;
}